[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2.0"
django-crispy-forms = "*"
pillow = "*"
django-ckeditor = "*"
django-storages = "*"
boto3 = "*"
environs = {extras = ["django"], version = "*"}
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
